{% extends 'base.html.twig' %}
{% block header %}
    {% include('header.html.twig') %}
{% endblock %}

{% block body %}

    <form name="myform" action="{{path('save_review')}}" method="post">
    <input type="hidden" name="dotID" value="{{dotID}}">
    <input type="hidden" name="dotproject" value="{{dotproject}}">
    <div class="row top-buffer">
    	<div class="col-sm-6 panel panel-info">
    		<h3>New Review</h3>
    	</div>
    </div>
    <div class="row top-buffer">
 		<div class="col-sm-3">Project ID:</div>
 		<div class="col-sm-3">{{data.dotproject}}</div>
 	</div>
 	<div class="row top-buffer">
 		<div class="col-sm-3">Sub Account #:</div>
 		<div class="col-sm-3">{{data.subaccount}}</div>
 	</div>
 	<div class="row top-buffer">
 		<div class="col-sm-3">Project Description:</div>
 		<div class="col-sm-3">{{data.description}}</div>
 	</div>
 	<div class="row top-buffer">
 		<div class="col-sm-3">Region/District:</div>
 		<div class="col-sm-3">{{data.region}}</div>
 	</div>
 	<div class="row top-buffer">
 		<div class="col-sm-3">Project Type:</div>
 		<div class="col-sm-3">{{data.project_type}}</div>
 	</div>

 	<div class="row top-buffer">
 		<div class="col-sm-3">Review Type:</div>
 		<div class="col-sm-3"><select name="review_type" required class="form-control">
 			<option selected value="">Select</option>
 			<option>Plans</option>
 			<option>Specifications</option>
 			<option>Cost Estimate</option>
 			<option>Design Calculations</option>
 		</select></div>
 	</div>
 	<div class="row top-buffer">
 		<div class="col-sm-3">Project Phase:</div>
 		<div class="col-sm-3">
 			<select name="project_phase" required class="form-control">
 				<option selected value="">Select</option>
 				{{SubmittalTypes|raw}}
 			</select>
 		</div>
 	</div>

    {# The date_received is no longer used #}

    {#
 	<div class="row top-buffer">
 		<div class="col-sm-3">
 			Date Received:
 		</div>
 		<div class="col-sm-3">
 			<input type="text" name="date_received" class="form-control date">
 		</div>
 	</div>
    #}

 	<div class="row top-buffer">
 		<div class="col-sm-6">
 			<input type="submit" value="Save" class="btn btn-success btn-block">
 		</div>
 	</div>
 	</form>




{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block footer %}
    {% include('footer.html.twig') %}
{% endblock %}