{% block page_header %}
    {# put header details here #}
    <!DOCTYPE html>
    <html lang="en">

    <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BLN :: Tracker</title>

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="/css/heroic-features.css" rel="stylesheet">
    <link href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" rel="stylesheet">

    <link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery CDN -->
    <script
    src="https://code.jquery.com/jquery-3.2.1.js"
    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- jQuery UI CDN -->
    <script
    src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"
    integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk="
    crossorigin="anonymous"></script>

    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

    <!-- Extra styles for this example -->
    <!-- Odometr includes -->
    <link rel="stylesheet" href="{{asset('css/odometer-theme-car.css')}}" />
    <script src="{{asset('js/odometer.js')}}"></script>

    <script src="{{asset('js/sorttable.js')}}"></script>

    <style>
    .odometer {
        font-size: 20px;
    }
    </style>
    </head>

    <body>

    {% set dotID = "" %}
    {% if app %}
    {% set dotID = app.session.get('dotID') %}
    {% endif %}

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{path('dashboard')}}"><img src="{{asset('img/bln.png')}}" height="32"></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    {% if app.user %}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            <li>
                {% if dotID != "" %}
                    <a href="{{path('dots',{'id':dotID})}}">Dashboard</a>
                {% else %}
                    <a href="{{path('dashboard')}}">Dashboard</a>
                {% endif %}
            </li>
            {% set view = "0" %}
            {% for role in app.user.roles %}
                {% if (role == "ROLE_ADMIN") or (role == "ROLE_STAFF") or (role == "ROLE_LEAD_REVIEWER") %}
                    {% set view = "1" %}
                {% endif %}
            {% endfor %}
            {% if view == "1" %}
                <li><a href="{{path('contacts')}}">Manage Contacts</a></li>
            {% endif %}

            {% set view = "0" %}
            {% for role in app.user.roles %}
                {% if (role == "ROLE_ADMIN") %}
                    {% set view = "1" %}
                {% endif %}
            {% endfor %}
            {% if view == "1" %}
                <li><a href="{{path('tls_list_users')}}">Manage Users</a></li>
            {% endif %}
            <li><a href="{{path('fos_user_profile_show')}}">Profile</a></li>
            <li><a href="{{path('fos_user_security_logout')}}">Logout</a></li>
            </ul>
            
        </div>
    {% endif %}
    <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
    </nav>
    <div class="container">

{% endblock %}
