{% trans_default_domain 'FOSUserBundle' %}

<h1>Change Password</h1>
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

<div class="row top-buffer">
	<div class="col-sm-12">
		{{form_label(form.current_password)}}<br>
		{{form_widget(form.current_password)}}<br>
	</div>
</div>
<div class="row top-buffer">
	<div class="col-sm-12">
		{{form_label(form.plainPassword.first)}}<br>
		{{form_widget(form.plainPassword.first)}}<br>
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-12">
		{{form_label(form.plainPassword.second)}}<br>
		{{form_widget(form.plainPassword.second)}}<br>
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-12">
		<input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-primary">
	</div>
</div>

{{ form_end(form) }}